@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

body {
  background: rgb(58, 180, 152);
  background: linear-gradient(
    90deg,
    rgba(58, 180, 152, 1) 0%,
    rgba(29, 211, 253, 1) 50%,
    rgba(69, 252, 210, 1) 100%
  );
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px lightblue solid;
  padding: 20px;

  width: 300px;
}

.color-picker {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color-picker input {
  background-color: transparent;
  border: none;
}
.generator-btn {
  border: 2px solid black;
  background: rgb(225, 225, 225);
  color: black;
  width: 200px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
